/* Login&Register estilos conjuntos */

#login, #register, #change-password, #forgot-password{
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(../img/background/bg-rallado.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    justify-content: center;
}

#login-container, #register-container, #change-password-container, #forgot-password-container{
    width: auto;
    display: flex;
    flex-direction: column;
    border-radius: 1.6rem;
    background-color: #141418;
    align-items: center;
    gap: 1.6rem;
    padding: 4.8rem;
    margin: 5rem 0;
}

.submitbtn{
    width: 100%;
    height: 100%;
}





/* Login */

#login-container form fieldset{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#login-container form fieldset legend{
    color: white;
    letter-spacing: 0px;
    text-align: center;
    font-size: 4rem;
    font-family: 'Oswald';
}

#login-container form fieldset label{
    color: #ff9900;
    font-size: 3rem;
    font-family: 'Bebas Neue';
    padding-right: 30rem;
}

#login-container form fieldset input{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Oswald';
    margin-bottom: 3rem;
    padding-left: 5px;
}

#login-container form fieldset button{
    background-color: #ff9900;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald';
    width: fit-content;
    padding: 1rem;
}

#login-container p{
    font-family: 'Oswald';
    font-size: 1.7rem;
    color: white;
}

#login-container p a{
    color: #ff9900;
}

#login-container form fieldset input:nth-of-type(2) {
    margin: 0;
}

#login-container form fieldset p {
    font-family: 'Oswald';
    font-size: 1.2rem;
    color: white;
    margin: 5px 0 3rem 0;
}

#login-container form fieldset p a {
    color: #ff9900;
}







/* Register */

#register-container form fieldset{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#register-container form fieldset legend{
    color: white;
    letter-spacing: 0px;
    text-align: center;
    font-size: 4rem;
    font-family: 'Oswald';
}

#register-container form fieldset label{
    color: #ff9900;
    font-size: 3rem;
    font-family: 'Bebas Neue';
    padding-right: 30rem;
}

#register-container form fieldset input{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Oswald';
    margin-bottom: 3rem;
    padding-left: 5px;
}

#register-container form fieldset button{
    background-color: #ff9900;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald';
    width: fit-content;
    padding: 1rem;
}


#register-container p{
    font-family: 'Oswald';
    font-size: 1.7rem;
    color: white;
}

#register-container p a{
    color: #ff9900;
}


#register-container form fieldset label input{
    width: 20px;
    height: 20px;
}





/* Forgot - Password */

#forgot-password-container form fieldset{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#forgot-password-container form fieldset legend{
    color: white;
    letter-spacing: 0px;
    text-align: center;
    font-size: 4rem;
    font-family: 'Oswald';
}

#forgot-password-container form fieldset label{
    color: #ff9900;
    font-size: 3rem;
    font-family: 'Bebas Neue';
    padding-right: 30rem;
}

#forgot-password-container form fieldset input{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Oswald';
    margin-bottom: 3rem;
    padding-left: 5px;
}

#forgot-password-container form fieldset button{
    background-color: #ff9900;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald';
    width: fit-content;
    padding: 1rem;
}


#forgot-password-container p{
    font-family: 'Oswald';
    font-size: 1.7rem;
    color: white;
}

#forgot-password-container p a{
    color: #ff9900;
}


#forgot-password-container form fieldset label input{
    width: 20px;
    height: 20px;
}







/* Change - Password */

#change-password-container form fieldset{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#change-password-container form fieldset legend{
    color: white;
    letter-spacing: 0px;
    text-align: center;
    font-size: 4rem;
    font-family: 'Oswald';
}

#change-password-container form fieldset label{
    color: #ff9900;
    font-size: 3rem;
    font-family: 'Bebas Neue';
    padding-right: 30rem;
}

#change-password-container form fieldset input{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Oswald';
    margin-bottom: 3rem;
    padding-left: 5px;
}

#change-password-container form fieldset button{
    background-color: #ff9900;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald';
    width: fit-content;
    padding: 1rem;
}


#change-password-container p{
    font-family: 'Oswald';
    font-size: 1.7rem;
    color: white;
}

#change-password-container p a{
    color: #ff9900;
}


#change-password-container form fieldset label input{
    width: 20px;
    height: 20px;
}